// Place all the styles related to the update_histories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.update-history-table {
  .article-user-column {
    width: 140px;
    white-space: nowrap;
  }
  .article-update-column {
    width: 140px;
    text-align: center;
    white-space: nowrap;
  }
}
